:root {
  --primary-color: #00509e;
  --background-color: #f6f7fa;
}
body {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info-toast {
  background: var(--primary-color) !important;
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: var(--primary-color) !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: var(--primary-color) !important;
}
.react-datepicker__time-list-item--selected {
  background-color: var(--primary-color) !important;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  z-index: 1;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  z-index: 1;
}
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ReactModal__Content {
  position: relative !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 80vw;
  max-width: 800px;
}

button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}

.phoneInput {
  margin: 20px 10px 20px 10px;
  width: 280px;
}
.PhoneInputInput {
  margin: 0px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
